.container {
  position: relative;
  width: 360px;
  height: 360px;
  margin-left: 10px;
  margin-top: 20px;
display: block;
  margin: auto;

}

.image {
  display: block;
  width: 100%;
  height: auto;
  border: none;
  margin-left: 20px
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  margin: 20px
   

}

.container:hover .overlay {
  height: 100%;
}

.text {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: left;
  font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: italic;
  font-weight: lighter;

}
.list{
    padding:0px;
    margin: 0px;
    line-height: 0px


}


.ingredients{
  font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
    font-weight: 500;
    color: #82E1D1;
    letter-spacing: 1px;

}

.active{
  color: #82E1D1;
   margin-left: 35px;
  margin-bottom: 30px

}


.search-div{
  background-color: white
}

.search-form{
  
 color: #82E1D1;
  text-align: center;
  height: 80px;
  vertical-align: middle;
  font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: italic;
  font-weight: lighter;
  padding-top: 25px;

}

.calloutquotes{
    font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 30px;
   text-align: center;
    line-height: 30px;
    font-weight: 300;
    text-transform: uppercase;
    color: #6e64c5;
    letter-spacing: .2px;
    height: 12px;
    font-style: italic;
    margin-top: 0;
    padding-bottom: 80px

}

.whole-food-div{
  background-color: #f6f6f6;
  padding-top: 40px;
  padding-bottom: 40px
}
 label{
  margin-top: 25px;
  margin-left: 20px
  
 }






.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

