.react-sanfona-item-title {
  color: white;
  text-align: center;
  height: 80px;
  vertical-align: middle;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: lighter;
  padding-top: 25px;
  z-index: 2
}

.cycle .react-sanfona-item-title {
  background: #6e64c5;
  border-bottom: 2px solid white;
}

.symptoms .react-sanfona-item-title {
  background: #5a58b7;
  border-bottom: 2px solid white;
}

.food .react-sanfona-item-title {
  background: #5662f4;
  border-bottom: 2px solid white;
}

.myths .react-sanfona-item-title {
  background: #7384f9;
  border-bottom: 2px solid white;
}

.cycle .rbc-toolbar-label {
  font-weight: bold;
}

.toggle-quote{
    font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 60px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}


@media screen and (max-width: 1100px) and (min-width: 700px) {
.toggle-quote{
    font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
}

@media screen and (max-width: 700px) and (min-width: 500px) {
.toggle-quote{
    font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
}
